.unity-ui-document__root,
:root {
  --card-background-color: rgba(36, 34, 32, 1);
}

.card {
  min-width: 50px;
  min-height: 50px;
  background-color: var(--card-background-color);
  border-radius: 4px;
}

.card.xl {}